#body
{
	color: deeppink;	
	text-align: center;
	font-family: "Arial";
}

#container {
	color: rgb(76, 76, 157);
	width: 70%;
	padding: 1em;
	text-align: justify;
	border: 1px solid rgb(201, 59, 19);
	margin: 0 auto;
}

#container h1 {
	font-size: 20 px;
	color: rgb(245, 135, 31);
	text-align: center;
}

#blogsTitles {
	font-size: 15 px;
	color: rgb(108, 156, 11);
	text-align: left;
}



