body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cabecera {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#cabecera h1 {
    margin: 0;
    font-size: 24px;
}

#tagline {
    font-size: 14px;
}

#post {
    margin-top: 20px;
    line-height: 1.6;
}

#blogsTitles {
    font-size: 20px;
    color: #007bff;
    margin-top: 20px;
}


